.navbar {
  background-color: #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
}

.navbar a:hover {
  background-color: #71065b;
}

.active {
  background-color: #37043e;
  color: white;
}

